<ion-content style="border-radius: 50px">
  <div style="padding: 0.5em">
    <h1 translate>home.report-modal-header</h1>
    <ion-item-divider class="divider"></ion-item-divider>

    <div id="ani-wrapper">
      <ion-button color="secondary" (click)="takePhoto()" translate>
        home.camera-button
      </ion-button>
    </div>

    <p class="helper" translate>home.camera-footer</p>

    <div *ngIf="hasPhoto()">
      <div id="ani-wrapper">
        <img class="taken-img" [src]="currentPhoto.dataUrl" />
      </div>
    </div>

    <form [formGroup]="farmerReportForm" (submit)="submitReport()">
      <div *ngIf="isFirstTimeToReport() && hasPhoto()">
        <div *ngIf="hasCrops(); else missingSeeds">
          <ion-item lines="full">
            <ion-label position="floating" translate>
              home.seed-confirmation
            </ion-label>
            <ion-select type="input" name="cropId" formControlName="cropId">
              <ion-select-option *ngFor="let crop of crops" [value]="crop.id">
                {{ crop.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ng-template #missingSeeds>
          <p class="missing-seeds" translate>home.seed-missing</p>
        </ng-template>
      </div>

      <div *ngIf="isMarketable() && hasPhoto()">
        <ion-item lines="full">
          <ion-label position="floating" translate>
            home.marketable-confirmation</ion-label
          >
          <ion-input
            type="text"
            name="volumeKg"
            formControlName="volumeKg"
          ></ion-input>
        </ion-item>
      </div>

      <div *ngIf="hasPhoto() && hasCrops()" style="margin-top: 1em">
        <div id="ani-wrapper">
          <ion-button
            [disabled]="isSubmitted"
            type="submit"
            color="secondary"
            translate
          >
            <div *ngIf="!isSubmitted; then showSubmit else showLoading"></div>

            <ng-template #showSubmit>home.submit-report</ng-template>
            <ng-template #showLoading>
              home.submitting-report
              <ion-spinner name="dots"></ion-spinner>
            </ng-template>
          </ion-button>
        </div>
        <p class="helper" translate>home.image-submission</p>
      </div>
    </form>
  </div>
</ion-content>
