#ani-wrapper{
    display: flex; 
    justify-content: center; 
    height:fit-content;
    margin: 10px;
}

#ani-loginContainer{
    width: 700px; 
    text-align: center; 
    padding: 10px;
    background-color: #fff;
    border-radius: 20px; 
}

ion-content{
    background-color: #e5e5e5;
}

#aniButton {
    background-color: #293d26; /* Green */
    border-radius:50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

h1{
    margin: 10px;
    color: #293d26;
    font-weight: bold;
}