<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anikultura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="ani-wrapper">
    <ion-card style="width: 500px;box-shadow:0 0 4px 4px rgba(0,0,0,0.2); border-radius:30px">
      <ion-card-content style="padding: 10px; text-align: center;">
        <form [formGroup]="farmerReportForm" (submit)="onSubmit(loginBtn)">

          <ion-item>
            <ion-select type="input" name="farmland" formControlName="farmland"
              style="color: #242424; font-size: 2rem; font-weight: bold;">
              <ion-select-option *ngFor="let farmland of farmlands" [value]="farmland.id"
                style="width: 100% !important;">{{ farmland.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </form>

        <img [src]="currentSeedStageImagePath" style="padding: 2em;" />
        <button id="aniButton" (click)="addPhotoToGallery()">
          Nailipat na ang buto sa lupang tataniman
        </button>
        <p>Kailangan kumuha ng litrato bago magsumite ng report</p><br>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="ani-wrapper" style="margin-top:-10px">
    <ion-card style="width: 500px;box-shadow:0 0 4px 4px rgba(0,0,0,0.2); border-radius:30px;">
      <ion-card-content style="padding: 10px">
        <h1>Mga inaasahan</h1>
        <ion-item-divider style="margin-top: -25px; margin-bottom: 1em; background: rgba(0,0,0,0.0);">
        </ion-item-divider>

        <div class="ani-content" style="text-align: center; margin-bottom: 2em;">
          <h1 style="font-size:50px; line-height: 50px; color:#242424">48 - 72 na araw</h1>
          <p>Bago mamunga ang iyong mga pananim</p>
        </div>

        <ion-grid style="background-color: #e9e9e9;border-radius: 50px;padding: 10px; margin-bottom: 10px">
          <ion-row>
            <ion-col>
              <ion-chip>
                <ion-icon name="cart" color="primary"></ion-icon>
                <ion-label>Inaasahang kita: ₱42,069</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-chip>
                <ion-icon name="speedometer" color="primary"></ion-icon>
                <ion-label>Inaasahang bunga: 72 kg</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>

  <div id="ani-wrapper" style="margin-top:-10px">
    <ion-card style="width: 500px;box-shadow:0 0 4px 4px rgba(0,0,0,0.2); border-radius:30px;">
      <ion-card-content style="padding: 10px">
        <h1>Mga nasumiteng farming report</h1>
        <ion-item-divider style="margin-top: -25px; background: rgba(0,0,0,0.0);"></ion-item-divider><br>
        <ion-grid style="background-color: #e9e9e9;border-radius: 50px;padding: 20px; margin-bottom: 10px">
          <ion-row *ngFor="let farmerReport of submittedFarmerReports; let i = index">
            <ion-col style="color:#202020;font-weight: bold;">
              <div *ngIf="farmerReport.isVerified; else unverified">
                <span class="text">
                  {{ i + 1 }}.
                  {{ farmerReport.seedStage.name }}
                  <ion-icon name="checkmark-circle" color="primary"></ion-icon>
                </span>
              </div>

              <ng-template #unverified>
                <span class="text">
                  {{ i + 1 }}.
                  {{ farmerReport.seedStage.name }}
                  <ion-icon title="unverified" name="checkmark-circle-outline" color="primary"></ion-icon>
                </span>
              </ng-template>
            </ion-col>

            <ion-col style="text-align: right">
              {{ farmerReport.createdAt | date: 'dd MMM yyyy'}}<br>
              {{ farmerReport.createdAt | date: 'hh:mm aa'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>